<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@latest"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      @font-face {
        font-family: 'Poppins';
        src: url('/static/fonts/custom-font.woff2') format('woff2');
      }
    </style>
    <title>Cat Feeder</title>
  </head>
  <body>


    <div id="mySidenav" class="sidenav">
      <a href="/">หน้าแรก</a>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times; </a>
      {% for cat_name in cat_names %}
        <a href="#" onclick="showCatInfo('{{ cat_name }}'),closeNav()"><b>{{ cat_name }}</b></a>
      {% endfor %}
      <a href="{{ url_for('setting') }}">ตั้งค่าพื้นฐาน</a>
      <a href="{{ url_for('admin') }}">admin</a>
    </div>
    <span style="font-size:20px;cursor:pointer" onclick="openNav()" class="lineColor">&#9776; </span>
  <div id="contrainnerInfo">
      <b><div id="catName" style="text-align: center; color:#512da8"></div></b>
      <div style="text-align: center;">
        <b id="tageTitle" style="color:#512da8">Webcam Camera</b>
      </div>
      <div id="currentDateTime" ></div>
      <div id="contrainnerInfo">
        <div id="catInfo" class="catInfo" ></div><br>

        <!--My chart -->
        <div id="blockChart">
                  <!--switch toggle -->
          <div id="switchChart" style="display: none;">
            <span class="left-text">ปริมาณการกินเดือนปัจจุบัน</span>
            <label class="switch">
                <input type="checkbox" id="infoToggle" onchange="toggleCharts()">
                <span class="slider"></span>
            </label>
            <span class="right-text">ปริมาณการกินทั้งหมด</span>
          </div>
          <canvas id="chartAll"></canvas>
        </div>
      </div>
    
      <div class="webCam"> 
        <img id="video_feed" src="{{ url_for('video_feed') }}">
      </div> 

  </div>

  </body>
  <script>
    displayCurrentDateTime(true);
  </script>
</html>
