<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style2.css') }}">
    <title>Setting</title>
</head>
<body>
    <div>
        <div id="hideCatSetting"></div>
        
        <div id="catSetting" style="padding: 80px; text-align: center;">
            <h1>หน้าสำหรับการตั้งค่าพื้นฐาน</h1>
            <div>
                <p style="padding-top: 30px;">ตั้งค่าสำหรับน้องแมว</p>
                {% for result in results %}
                <div style=" display: flex; justify-content: center;">
                    <a href="#" onclick="catSetting('{{ result.id_cat }}','{{ result.name_cat }}')" class="settingCat">ตั้งค่าน้อง {{ result.name_cat }}</a>
                </div>
                {% endfor %}
                <div style="padding-top: 30px;">
                    <p>ตั้งค่าสำหรับเครื่องให้อาหาร</p>
                </div>
                <div style=" display: flex; justify-content: center;">
                    <a href="#" onclick="lineSetting()"  class="settingCat">ตั้งค่าการแจ้งเตือนไลน์</a>
                </div>
                <div style=" display: flex; justify-content: center;" >
                    <a href="#" onclick="tankSetting()" class="settingCat">ตั้งค่าถังเก็บอาหารเม็ด</a>
                </div>
                <div style=" display: flex; justify-content: center; padding-top: 30px;">
                    <button type="reset" onclick="redirectToHomePage()"  >Back</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>