body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  font-family: 'Poppins', sans-serif;
  }



.settingCat {
  text-align: center;
  background-color: #f4f4f9;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px; /* Rounded corners */
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effects */
  }

  
  .settingCat{
    --color: #512da8;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  .settingCat::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 250px;
    height: 200px;
    z-index: -1;
    border-radius: 20%;
  }
  
  .settingCat:hover {
    color: white;
  }
  
  .settingCat:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  .settingCat:hover::before {
    top: -30px;
    left: -30px;
  }
  

input[type="text"],[type="time"],[type="select"],[type="number"]{
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 130px;
}


input[type="radio"],.tank{
  padding: 8px;
  margin: 10px;
  accent-color: #512da8;
}

.padding-time{
  padding-left: 700px; 
  padding-right: 700px;
}

button[type="submit"]{
  --color: #512da8;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}


button[type="reset"]{
  --color: red;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}

#contrainnerSetting{
    /* padding: inherit; */
    /* display: flex; */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /* padding: 20px; */
    /* margin: auto; */
    /* width: fit-content; */
    /* align-items: flex-end; */
    /* display: block; */
    /* justify-items: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
    /* height: 110vh; */
    /* width: 80vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
    margin-top: 40px;
}

.tooltip {
  position: relative; /* ทำให้ element ที่เป็น parent ของ tooltip */
  display: inline-block; /* เพื่อให้ tooltip ทำงานเมื่อชี้ */
}

.tooltip .tooltiptext {
  visibility: hidden; /* ซ่อน tooltip โดยเริ่มต้น */
  width: 250px; /* ความกว้างของ tooltip */
  background-color: rgb(0, 0, 0); /* สีพื้นหลังของ tooltip */
  color: #fff; /* สีข้อความ */
  text-align: center; /* จัดข้อความกลาง */
  border-radius: 5px; /* มุมโค้งมน */
  padding: 5px 0; /* ระยะห่างภายใน */
  position: absolute; /* ตำแหน่ง tooltip */
  z-index: 1; /* ให้แน่ใจว่า tooltip อยู่ด้านบนสุด */
  bottom: 125%; /* ตำแหน่งจากด้านล่างของ parent */
  left: 50%; /* ตำแหน่งจากด้านซ้ายของ parent */
  margin-left: -60px; /* ปรับตำแหน่งเพื่อให้ tooltip กลางกับไอคอน */
  opacity: 0; /* ซ่อน tooltip */
  transition: opacity 0.3s; /* การเปลี่ยนแปลงความโปร่งใส */
}

.tooltip:hover .tooltiptext {
  visibility: visible; /* แสดง tooltip เมื่อชี้ */
  opacity: 0.5; /* เปลี่ยนความโปร่งใสให้เห็นได้ชัด */
}

@media screen and (max-width: 1988) { 

  .padding-time{
    padding-left: 650px; 
    padding-right: 650px;
  }
  #contrainnerSetting{
    /* padding: inherit; */
    /* display: flex; */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /* padding: 20px; */
    /* margin: auto; */
    /* width: fit-content; */
    /* align-items: flex-end; */
    /* display: block; */
    /* justify-items: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
    /* height: 110vh; */
    /* width: 80vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
}
@media screen and (max-width: 1440px) { 

  .padding-time{
    padding-left: 450px; 
    padding-right: 450px;
  }
  
  
}

@media screen and (max-width: 1024px) { 

  body{

    font-size: 80%;
  }
  .padding-time{
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media screen and (max-width: 768px) { 

  body{
    font-size: 80%;
  }
  .padding-time{
    padding-left: 150px; 
    padding-right: 150px
  }
  #contrainnerSetting{
    /* padding: inherit; */
    /* display: flex; */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /* padding: 20px; */
    /* margin: auto; */
    /* width: fit-content; */
    /* align-items: flex-end; */
    /* display: block; */
    /* justify-items: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
    /* height: 110vh; */
    /* width: 80vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
}

@media screen and (max-width: 500px) { 
  body{
    font-size: 80%;
  }
  .padding-time{
    padding: 0px;
  }
  #contrainnerSetting{
    /* padding: inherit; */
    /* display: flex; */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /* padding: 20px; */
    margin: auto;
    /* width: fit-content; */
    /* align-items: flex-end; */
    /* display: block; */
    /* justify-items: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
    /* height: 110vh; */
    /* width: 80vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 425px){
  #contrainerSetting{
            /* padding: inherit; */
        /* display: flex; */
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        /* padding: 20px; */
        margin: auto;
        /* width: fit-content; */
        /* display: block; */
        /* justify-items: center; */
        flex-direction: column;
        justify-content: space-evenly;
        /* align-content: center; */
        /* height: 110vh; */
        width: 70%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        align-items: center;
  }
}

