
body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  font-family: 'Poppins', sans-serif;


}

div{
  font-size: 30px;
}
canvas {
  width: 60% !important;  /* Ensures the canvas takes the full width of its container */
  height: auto !important; /* Maintains the aspect ratio */
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

#currentDateTime {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.webCam{
  text-align: center;
  padding-top: 100px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #512da8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #666666;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}


.record {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.catInfo{
  justify-content: center;

}

.info-box {
  text-align: center;
  background-color: #d8e1ff;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px; /* ทำให้เกิดกรอบโค้ง */
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#switchChart{
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px; /* ปรับขนาดตามที่ต้องการ */
  height: 34px; /* ปรับขนาดตามที่ต้องการ */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px; /* ปรับขนาดตามที่ต้องการ */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; /* ปรับขนาดตามที่ต้องการ */
  width: 26px; /* ปรับขนาดตามที่ต้องการ */
  left: 4px; /* ปรับตำแหน่งตามที่ต้องการ */
  bottom: 4px; /* ปรับตำแหน่งตามที่ต้องการ */
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #512da8;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.lineColor{
 color: #512da8;
}
#blockChart{
  display: none;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  width: 60%;
}
@media screen and (max-width: 1024px){

  canvas {
    width: 70% !important;
    height: auto !important;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px){
  #blockChart{
    width: 70%;
  }
  
}
@media screen and (max-width: 426px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  canvas {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}
#blockChart{
  width: 90%;
}

  #video_feed{
    width: 400px;
    height: 400px;
  }
  #currentDateTime {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }

  .webCam{
    text-align: center;
    padding-top: 50px;
  }
  .record {
    padding: 20px;
    width: 360px;
    display: flex;

  }
  
  .info-box {
    text-align: center;
    flex: 1;
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px; /* ทำให้เกิดกรอบโค้ง */
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .switch{
    width: 55px; /* ปรับขนาดตามที่ต้องการ */
    height: 24px; 
  }
  .slider:before {
    height: 16px; /* ปรับขนาดตามที่ต้องการ */
    width: 16px; /* ปรับขนาดตามที่ต้องการ */
  }
  .left-text, .right-text {
    font-size: 12px;
  }
  
}




